
<div class="container-fluid">
  <h1>Destinations</h1>
    <div class="row">
     <%= render @destinations %>  
    </div>
    <div class="top-space text-center">
      <%= will_paginate @destinations %>
    </div>
</div>
