@import "bootstrap";



*{
	margin: 0;
	padding: 0}

body{
	font-family: verdana;

}


header nav ul li {
	list-style: none;
	text-decoration: none;
}
header nav ul li a {
	color: black;
	text-decoration: none;
}





.relative{
	position:relative;	
}

.absolute{
	position:absolute;	
}
.destination-height{
	height:250px;
}
.background-cover{
	background-position:center;
	background-size:cover;
}
.text-center{
	text-align:center;
}