.relative{
	position:relative;	
}

.absolute{
	position:absolute;	
}
.destination-height{
	height:250px;
}
.background-cover{
	background-position:center;
	background-size:cover;
}
.text-center{
	text-align:center;
}
